.post {
  margin-top: 1rem;
  background-color: #ffffffb2;
}

.map {
  background-color: #195cc1;
  height: 150px;
  width: auto;
  justify-content: right;
  margin-left: 0.5rem;
}

/* Incidental Styling */

.listing-photo {
  width: auto;
  max-height: 250px;
  padding: 0;
  margin: 0;
}

/* animations */
.listing-photo:hover {
  transition: all 0.2s ease-out;
  box-shadow: 4px 4px 5px black;
}

.image-panel {
  display: none;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

/* Google Maps */
.google-maps {
  width: 65%;
  max-height: 250px;
  padding: 0;
  margin: 0;
  margin-left: 0.5rem;
}

/* on 598px OR LARGER displays */
@media (min-width: 598px) {
  .image-panel {
    display: flex;
  }
  .map-link {
    display: none;
  }
}

/* on 992px OR LARGER displays */
@media (min-width: 992px) {
  .map {
    margin-left: 2rem;
  }
}

@media (min-width: 1200px) {
  .map {
    margin-left: 3rem;
  }
}

/* Return to Top Button */
#topButton:hover {
  background-color: black;
}

#topButton {
  display: none;
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 5px;
}
