* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #404040;
  padding: 5px 8px;
}

.nav-link {
  float: right;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 4px;
}

.nav-link:hover {
  background-color: #ddd;
  color: black;
}

.nav-link.active {
  background-color: #2196f3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav .search-container input[type="text"] {
  padding: 4px;
  margin: 4px 0;
  font-size: 17px;
  border: none;
  background-color: #d8d8d8;
  display: inline-block;
  height: 30px;
  width: 200px;
}

#search-button {
  padding: 5px;
  margin-top: 20px;
  margin-right: 8px;
  background: #2196f3;
  font-size: 15px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

#search-button:hover {
  background: #ddd;
}

.topnav .icon {
  display: none;
}

.skip-nav-link {
  background: black;
  position: absolute;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(0);
}

.navbar-brand {
  color: white;
  padding-left: 2px;
  vertical-align: middle;
}

@media screen and (max-width: 500px) {
  .nav-link,
  .search-container {
    float: none;
    display: inline-block;
    text-align: right;
    width: 100%;
    vertical-align: middle;
    font-size: larger;
  }

  .topnav .search-container input[type="text"], 
  #search-button {
    width: 100%;
    padding: 4px;
    margin: 4px 0;
  }
} 
