/* Navbar in home page */
.main-navbar {
  display: block;
}
/* Favicon */
#favicon {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

/* Body image for all webpages */
body {
  background-image: url("../img/palau-background/palau-land.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

#about {
  text-align: center;
  background-image: url("../img/palau-background/road-trip.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

#buy {
  background-image: url("../img/palau-background/rock-island.jpg");
  background-repeat: no-repeat;
  background-size: cover
}

/* Create a right-aligned (split) link inside the navigation bar */
.topnav .split {
  float: right;
  background-color: lightblue;
  color: black;
  display: block;
}

/* The bottom of the buy webpage*/
#buy-footer {
  color: white;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  margin-top: 5px;
}

/* Listing title in buy webpage */
.listings-buy-title {
  display: inline-block;
  position: relative;
  left: 45%;
  color: whitesmoke;
}

/* Responsive buy webpage */
@media screen and (max-width: 992px) {
  #buy {
    background-image: url("../img/palau-background/ocean.jpg");
    background-repeat: no-repeat;
    background-size: cover
  }
}

@media screen and (max-width: 447px) {
  .topnav .split {
    display: none;
  }
}

@media screen and (max-width: 295px) {
  .listings-buy-title {
    left: 0%;
  }
}

/* Full-width input fields */
#index-username, #index-password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: rgb(22, 22, 22);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Hover for all buttons */
button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Padding for the form container located in the index (home webpage) */
.index-form-content {
  padding: 16px;
}

/* The recovery text on the form conatiner located in the index (home webpage) */
span.recovery {
  white-space: normal;
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  padding-top: 100px;
}

/* Login Content Box Container */
.login-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; 
  width: 80%; 
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
  span.recovery {
    display: block;
    float: none;
 }
  .cancelbtn {
     width: 100%;
  }
}

/* about webpage */
.palau-overview {
  background-color: rgba(0,0,0,0.4);
  margin-top: 30px;
}
.palau-problem {
  color: whitesmoke;
}

.project-purpose {
  color: whitesmoke;
}

.about-form-title, .about-name, .about-email, .about-message {
  color: whitesmoke;
}

.about-email {
  width: 44px;
}

/* Style the links inside the navigation bar (Navbar for Buy webpage) */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #060606;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Nav bar hover highlights the links */
#buy-link a:hover {
  background-color: #ddd;
  color: black;
}

#about-link a:hover {
  background-color: #ddd;
  color: black;
}

#sell-link a:hover {
  background-color: #ddd;
  color: black;
}

#lease-link a:hover {
  background-color: #ddd;
  color: black;
}

#user-login a:hover {
  background-color: #ddd;
  color: black;
}

