.main-navbar {
  display: block;
}

#favicon {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

body {
  background-image: url("../img/palau-background/palau-land.jpg");
  background-repeat: no-repeat;
}

#about {
  text-align: center;
}

.current-listings-title {
  text-align: center;
  background-color: lightblue;
  margin: 0;
}

#listings {
  background-color: beige;
}

#buy-footer {
  background-color: grey;
  color: white;
  text-align: center;
  margin-top: 10px;
}