* {
  box-sizing: border-box;
}

.topnav {
  overflow: hidden;
  background-color: #404040;
  padding: 5px 8px;
}

/* Boxes around nav buttons */
#about-links
{
  padding: 0;
  margin: 0;
  float: right;
  display: block;
}
.nav-link {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 4px;
}

.nav-link:hover {
  background-color: rgb(93, 159, 221);
  color: black;
}

.nav-link.active {
  background-color: #2196f3;
  color: white;
}

.nav-link a {
  color: white;
}

.nav-link a:hover {
  text-decoration: none;
}


.topnav .search-container {
  float: right;
}

.topnav .search-container input[type="text"] {
  padding: 4px;
  margin: 4px 0;
  font-size: 17px;
  border: none;
  background-color: #d8d8d8;
  display: inline-block;
  height: 30px;
  width: 200px;
}

#search-button {
  padding: 5px;
  margin: 8px;
  margin-top: 20px;
  background: #2196f3;
  font-size: 15px;
  display: inline-block;
  height: 30px;
  width: 30px;
}

#search-button:hover {
  background: #ddd;
}

.skip-nav-link {
  background: black;
  position: absolute;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: transform 325ms ease-in;
}

.skip-nav-link:focus {
  transform: translateY(0);
}

.navbar-brand {
  color: white;
  padding-left: 2px;
  vertical-align: middle;
  display: inline-block;
}

#cancel-bar {
  background-color:#c5c5c54d
}

/* Favicon */
#favicon {
  width: 50px;
  height: 50px;
  margin-right: 25px;
}

@media screen and (max-width: 500px) {

  .nav-link,
  .search-container {
    float: none;
    display: inline-block;
    text-align: right;
    width: 100%;
    vertical-align: middle;
    font-size: larger;
  }

  .topnav .search-container input[type="text"],
  #search-button {
    width: 100%;
    padding: 4px;
    margin: 4px 0;
  }
}