/* Make images go to bottom of page */
body,
#root,
html {
  height: 100%;
}

/* Body image for all webpages */

#home-page {
  background-image: url("../img/palau-background/palau-land.jpg"); /* stylelint-disable-line */
  background-repeat: no-repeat;
  background-size: auto;
  background-color: black;
  min-height: 100%;
}

#buy {
  background-image: url("../img/palau-background/rock-island-life.jpg"); /* stylelint-disable-line */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Listing title in buy webpage */
.listings-buy-title {
  display: inline-block;
  position: relative;
  left: 45%;
  color: whitesmoke;
}

/* Responsive buy webpage */
@media screen and (max-width: 992px) {
  #buy {
    background-image: url("../img/palau-background/sealife.jpg"); /* stylelint-disable-line */
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (max-width: 295px) {
  .listings-buy-title {
    left: 0%;
  }
}

/* Full-width input fields for login */
#index-username,
#index-password {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #333;
  color: rgb(255 255 255);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Hover for all buttons */
button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

#sign-up-link {
  margin-left: 2rem;
  width: auto;
  padding: 10px 18px;
  background-color: rgb(75 75 141);
}

/* Padding for the form container located in the index */
.index-form-content {
  padding: 16px;
}

/* The recovery text on the form container located in the index */
span.recovery {
  white-space: normal;
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0);
  background-color: rgba(0 0 0 / 70%);
  padding-top: 100px;
}

/* Login Content Box Container */
.login-content {
  background-color: #fefefe;
  margin: 5% auto 15%;
  width: 80%;
}

/* Add Zoom Animation */
.animate {
  animation: animatezoom 0.6s;
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 400px) {
  span.recovery {
    display: block;
    float: none;
  }

  .cancelbtn,
  #sign-up-link {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 447px) {
  .split {
    display: none;
  }
}

.hidden {
  display: none;
}

/* Carousel */
#carousel {
  margin-top: 750px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.weather-status {
  background-color: #000;
  background-color: rgba(0 0 0 / 80%);
  color: white;
}

.copyright {
  color: white;
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.label-text {
  color: whitesmoke;
  padding-right: 10px;
}

#details-input{
  width: 100%;
}

#post-button {
  justify-self: center;
  background-color: rgb(75 75 141);
  color: white; 
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.text-input {
  display: block;
  max-width: 25rem;
}